.pagination
  &__buttons
    display: flex
    gap: 10px
    justify-content: center
  &__button
    transition: background-color 500ms
    border-radius: 5px
    cursor: pointer
    width: 100px

    height: 40px
    background-color: rgb(61, 97, 239)
    &:hover
      background-color: rgba(61, 97, 239, 0.63)
  &__pages
    margin-top: 15px
    text-align: center
