.pagination
  &__buttons
    display: flex
    gap: 10px
    justify-content: center
  &__button
    transition: background-color 500ms
    border-radius: 5px
    cursor: pointer
    width: 80px
    height: 30px
    &[disabled]
      opacity: 0.3


  &__pages
    margin-top: 15px
    text-align: center
